In [4]:
import numpy as np
import pandas as pd
from os import path
from sqlalchemy import *

FLCS_Path = path.abspath(path.curdir)

rawdata = pd.read_csv(FLCS_Path + r"\FLCS.csv", delimiter=',',names = ("Split","Player","Position","Team","Win/Loss","Points"),usecols=(0,1,3,4,5,6))
rawdata['Week'] = ''
rawdata['Opponent'] = rawdata['Team'].astype(str).str[-3:]
rawdata['Excess'] = rawdata['Position']
rawdata['Win/Loss'] = rawdata['Win/Loss'].astype(str).str[0]
rawdata['Team'] = rawdata['Team'].astype(str).str[:3]
rawdata = rawdata[["Split","Week","Player","Position","Team","Opponent","Win/Loss","Points","Excess"]]
rawdata['Week'] = rawdata['Player'].astype(str).str[-1:]
rawdata['Position'] = rawdata['Position'].fillna(method='ffill')
#rawdata = rawdata[rawdata['Excess'].isna()]
#rawdata = rawdata.drop(columns = ['Excess'])

rawdata.head()

   Split Week      Player  Position Team Opponent Win/Loss  Points    Excess
0      1    t  Doublelift  AD Carry  Cou      ing        n  505.40  AD Carry
1      1    1      Week 1  AD Carry  CLG      DIG        W   28.57       NaN
2      1    1      Week 1  AD Carry  CLG      TIP        W   46.03       NaN
3      1    2      Week 2  AD Carry  CLG       T8        W   26.42       NaN
4      1    2      Week 2  AD Carry  CLG      TSM        L   12.63       NaN